<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <th:block layout:fragment="header-css">
        <style>
            header {
                margin-top: 1em;
                margin-bottom: 1em;
            }

            header .header-container {
                display: flex;
                gap: 5vw;
                flex-direction: row;
                padding: 1em;
                border: 1px solid #d1d3d8;
            }
        </style>
    </th:block>

    <header>
        <ul class="header-container">
            <li><a href="/">home</a></li>
            <li><a href="/oauth2/authorization/google" sec:authorize="isAnonymous()">구글로그인</a></li>
            <li><a href="/oauth2/authorization/naver" sec:authorize="isAnonymous()">네이버로그인</a></li>
            <li><a href="/members/logout" sec:authorize="isAuthenticated()">로그아웃</a></li>
        </ul>
    </header>
</div>
</html>